.field-delete-teacher-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

.label {
    margin-bottom: 1px !important;
}

.old-teacher-data {
    margin-bottom: 15px;
    text-align: left;
}

.button-container-teacher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-top: 5px !important;
}

.confirm {
    margin: 0px;
}

.edit-teacher-page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    background-color: lightgrey;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
  }